%p#notice= notice

%p
  %b Name:
  = @customer.name
%p
  %b Billing address:
  = @customer.billing_address
%p
  %b Shipping address:
  = @customer.shipping_address

= link_to 'Edit', edit_customer_path(@customer)
\|
= link_to 'Back', customers_path
